# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store


# datasets
*.csv
data/
datasets/
01. ANN/fmnist_small.csv
01. ANN/*.csv
02. CNN/fmnist_small.csv
03. RNN/100_Unique_QA_Dataset.csv
04. LSTM/100_Unique_QA_Dataset.csv
05. GRU/100_Unique_QA_Dataset.csv
Optuna/fmnist_small.csv
Optuna/*.csv